#global_header {
  padding-left: 200px;
  border-bottom: 1px solid #999;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.26, rgb(50,50,50)),
      color-stop(0.71, rgb(24,24,24))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(50,50,50) 26%,
      rgb(24,24,24) 71%
  );
}

#search_form label { margin-right: 6px; }
#global_header a, #search_form {
  color: #eee;
}

#app_menu li.active {
  background: none;
  text-decoration: underline;
}

.subnav {
  padding-top: 4px;
  height: 2.4em;
  background: #6e7a87;
  border-bottom: 2px solid #ececec;
}

.subnav a { color: #fff; }

.subnav .active {
  background: none;
  text-decoration: underline;
}

#search_field { width: 200px; }

#project_title {
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
  text-indent: 0px;
  background: none;
  letter-spacing: 1.5px;
  top: 14px;
}

#content {
  margin: 1em auto;
  width: 992px;
  font-size: 140%;
}

.single_venue .location.vcard {
  padding: 2em;
  width: 680px;
}

#sponsors {
  color: #ccc;
  font-size: 14pt;
  list-style: none;
  margin: 0;
  padding: 0;
}

#top_footer {
  text-align: center;
  height: 150px;
  padding-top:2em;
  border-top: 2px solid #aaa;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.41, rgb(35,35,35)),
      color-stop(0.71, rgb(16,16,16))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(35,35,35) 41%,
      rgb(16,16,16) 71%
  );
}

#sponsors {
  color: #ccc;
  font-size: 14pt;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
