<div class='copy_block'>
  <h1><a name='about'>&ldquo;ReadMe&rdquo; (stuff we'd like you to know)</a></h1>

  <p>BendCal.org is a <strong>community-maintained</strong> calendar of events for Bend, Oregon, with heavy emphasis on "community".</p>

  <h2>Use Your Powers For Good</h2>
  <p>BendCal gives you what are essentially administrative powers.  You can create, edit, and delete just about everything, which we hope is really empowering.  But as <a href="http://en.wikipedia.org/wiki/Uncle_Ben">Uncle Ben</a> said, "With great power comes great responsibility".  From time to time, you may see something that doesn't quite make sense to you.  If you find yourself scratching your head, thinking, "that ain't right!", please take the time to ...</p>
  <ul>
    <li>Add details to existing events and venues.</li>
    <li>Correct missing venues and incomplete venue addresses.</li>
    <li>Help us remove <a href='/events/duplicates'>duplicate events</a> and <a href='/venues/duplicates'>duplicate venues</a>.</li>
    <li>Keep an eye on the <a href="/recent_changes">recent changes</a> for any unusual activity.  Heck, add the <a href="http://bendcal.org/recent_changes.atom">rss feed</a> to your feed reader.
  </ul>

  <h2>How It Works... in 30 seconds</h2>
    <h3><a name='find_local_events'>Find local events</a></h3>
    <h4>Browse</h4>
    <ul>
      <li><a href='/'>Browse an overview</a> of events for the next two weeks.</li>
      <li><a href='/events'>Browse events</a> in the future and past, and filter by date.</li>
      <li><a href='/venues'>Browse venues</a> and view future events occurring at each venue.</li>
    </ul>
    
    <h4>Search</h4>
    <ul>
      <li><strong>Search</strong> for events at the top of each page.</li>
    </ul>

    <h4>Subscribe or export</h4>
    <ul>
      <li><strong>Subscribe</strong> to a list of events with your favorite calendar or feed reader.</li>
      <li><strong>Export</strong> a single event to your favorite calendar.</li>
    </ul>
            
    <h3><a name='share_local_events'>Share local events</a></h3>
    
    <ul>
      <li><a href='/events/new'>Add</a> an event by entering its details.</li>
      <li><a href='/sources/new/'>Import</a> event(s) by entering a URL to a feed or webpage, or via a bookmarklet.</li>
      <li><strong>Improve</strong> content by editing events and venues.</li>
    </ul>


  <h2>Policy</h2>
  <p>By using this site, you are agreeing to <a href="http://www.craigslist.org/about/terms.of.use">craigslist's Terms of Use</a>, with the following modifications:</p>
  <ul>
    <li>Instead of "CraigsList", it's "BendCal.org and its operators"</li>
    <li>Contact info for any violations or abuse claims can be sent to <a href="mailto:info@bendtech.com">info@bendtech.com</a></li>
  </ul>

  <h2>The Calagator Project</h2>
  <p>As much as we'd like to claim credit for creating all this, BendCal.org is actually powered by Calagator, an opensource project run by the Portland tech community.  To find out more, checkout <a href="http://calagator.org">Calagator.org</a></p>
  
  <h2>About CodeBenders</h2>
  <p>This site is hosted on servers generously donated by <a href="http://codebenders.com">CodeBenders</a>.  They are smart guys, self-described as...</p>
  <blockquote>
    Code Benders is an Agile development shop and product incubator. We are a collective of free-thinking and fun-loving developers, designers and project managers.
    We love building excellent web applications, especially when we are working with passionate entrepreneurs, for a good cause or an open source project. No client is too small. No challenge too big.</blockquote>
</div>
